<div ng-app="app" ng-cloak>

    <div ng-controller="main" class="col-xs-12">

        <br><br>
        <div class="panel panel-default col-xs-12">
            <div class="panel-body">
                <button class="btn btn-primary" ng-click="newTransaction()">New Transaction</button>
                <button class="btn btn-primary pull-right" ng-click="showReturned()">{{(showReturnedTest) ? 'Show Returned Transactions' : 'Show Checked Out Transactions'}}</button>
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                </div> 

                <div class="col-xs-12" ng-cloak>
                    <table class="table table-hover">
                        <thead>
                            <th></th>
                            <th>Name</th>
                            <th>Return Date</th>
                            <th>Checked Out On</th>
                            <th>Checked Out By</th>
                            <th></th>
                        </thead>
                        <tbody ng-hide="(transaction.returned == showReturnedTest)" ng-repeat="transaction in data | filter:searchText | orderBy:'-createdAt'">
                        <tr  ng-class="{ 'danger': ((transaction.endDate < currentDate) && (!transaction.returned))}">
                            <td> <span ng-class="(show[$index]) ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-right'" ng-click="expand($index)"></span></td>
                            <td> <div ng-mouseover="displayContactInformation(transaction)" ng-mouseleave="displayContactInformation(transaction)" ng-mouseenter="displayContactInformationLocation($event)"> {{ transaction.name }} </div></td>
                            <td> {{ transaction.endDate | date:'MM-dd-yy hh:mm a' }} </td>
                            <td> {{ transaction.createdAt | date:'MM-dd-yy hh:mm a' }} </td>
                            <td> {{ transaction.checkedOutBy }} </td>
                            <td> <button class="btn btn-primary"  ng-hide="transaction.returned" ng-click="checkIn(transaction)">Check In</button> </td>
                                
                        </tr>
                        <tr class="return">
                            <td ng-show="show[$index]"></td>
                            <td colspan="1" ng-show="show[$index]">
                                <div ng-repeat="item in transaction.checkedOut">
                                    {{ item }} <br>
                                </div>
                                <div ng-repeat="item in transaction.checkedIn">
                                    {{ item.item }} 
                                </div>
                            </td>
                            <td colspan="4 " ng-show="show[$index]">
                                <div ng-repeat="item in transaction.checkedIn">
                                 returned {{ item.timestamp | date:'MM-dd-yy hh:mm a'  }}  by {{ item.checkedIn }}
                                </div>
                            </td>

                        </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>

        <div class=" contactInformation info" ng-show="showContactInformation" ng-style="contactStyle" ng-cloak>
            <div>
                Name: {{ displayContactData.firstName + ' ' +  displayContactData.lastName  }}
                <br>
                UIN: {{ displayContactData.uin }}
                <br>
                Phone: {{ displayContactData.phone }}
                <br>
                Email: {{ displayContactData.email }}
                <br>
            </div>
        </div>

        <script type="text/ng-template" id="modalTemplate.html">
            <div class="modal-body">
                <formly-form model="data" fields="fields" form="form">
                    <button class="btn btn-primary" ng-show="hideButtons" ng-disabled="form.$invalid" ng-click="next()">Next</button>
                    <button class="btn btn-primary" ng-hide="hideButtons" ng-disabled="form.$invalid" ng-click="submit()">Submit</button>
                    <button class="btn btn-danger" ng-hide="hideButtons" ng-click="cancel()">Cancel</button>
                </formly-form>
            </div>  
        </script>
        <script type="text/ng-template" id="checkInModal.html">
            <div class="modal-header" ng-hide="hideButtons">Check the box of the items being turned in</div>
            <div class="modal-body">
                <formly-form model="data" fields="fields" form="form" >
                    <button class="btn btn-primary" ng-show="hideButtons" ng-disabled="form.$invalid" ng-click="next()">Next</button>
                    <button class="btn btn-primary" ng-hide="hideButtons" ng-click="checkAll()">{{ (checked) ? 'Uncheck All' : 'Check All' }}</button>
                    <button class="btn btn-primary" ng-hide="hideButtons" ng-disabled="form.$invalid" ng-click="submit()">Submit</button>
                    <button class="btn btn-danger" ng-hide="hideButtons" ng-click="cancel()">Cancel</button>
                </formly-form>

            </div> 
        </script>
        <!-- Put custom templates here -->

        <script type="text/ng-template" id="test.html">
            <div class="col-xs-12">
            <br>
            <formly-form model="data" fields="to.fields" form="to.form" >
            </formly-form>
        <table class="table table-hover quickfill">
                <tbody  ng-repeat="name in to.fields[1].templateOptions.options">
                    <tr>
                        <td ng-click="to.autofill(name)"> {{ name.name }} </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </script>

    </div>
</div>
